language: node_js
os:
- linux
- osx
node_js:
- '8'
script:
- yarn install
- yarn run lint
- yarn run build:$TRAVIS_OS_NAME
cache:
  directories:
  - node_modules
  yarn: true
env:
  - YARN_GPG=no
deploy:
  provider: releases
  name: kube-ldap-client-go-exec-plugin $TRAVIS_TAG
  api_key:
    secure: TEnF+PTaRtvaqRT3JF6QFZlGcv18wiMhBFmQLeEyR8ZFT060SGLnTe8p0hU1naBbOLlPKeMqzyHSw8E+u1s8BKVpML0HeowwS9rf/9atzEH1ysZ/RgiqQ+x8uhA1r81dh+BtvfwfEjxkobHc3dZhHiS2hYxHZCHy4/Js55KbOC0EAZLYk445mskRTKPeNfZkLuWT6TTT1rGGgRsvm4NL5P8HTGBtw6Nmqf5HO19urz3OrUP8Duzy7Uoe1sL60YRv0MtrGg9bmVDDVJG0f6FAWyu0WUB6NWrN1F5KfspN7Y7XZLIb1hEa94AolmDq3X0Bigk+XOk8UbHgh5wjw3NHgBej6AeSU2C0DwCy4q2SqxL6qF5sVbRXXZ6LRgIk8MuMr3qoSdgAiqU6Xb6BlOOeoozOXX6lPUPum3X+D7fbWH9oydtQw3tZS0f1lFPxTFOooW3Gnc8kiSFFb9wztKAv5yRq2X/obURFpmF3LIN9nfpyM3wh6DGVqp9meILEgQWqKhxxJPXpS718eOYZkSrIWpoZ3s9anBjeRPtjQEjXrbV+K+Bcl2aL0ZrLF8HcY0n4xK9YR2xAr8VBFXPZItTQjjIj1dXbzhFVf4ADBufqrAruVWZgbl6FVPTHVlRmNDvQ4F9aY+jY2OoOOIEa9l/m1333UK+WukcjmMwoz/q5zSo=
  file: build/kube-ldap-client-go-exec-plugin-$TRAVIS_OS_NAME
  skip_cleanup: true
  on:
    repo: gyselroth/kube-ldap-client-go-exec-plugin
    tags: true
