build:
  verbosity: minimal
install:
  - yarn install
test_script:
  - yarn run lint
build_script:
  - yarn run build:windows
version: '{build}'
environment:
  nodejs_version: "8"
artifacts:
  - path: build\kube-ldap-client-go-exec-plugin-windows.exe
    type: File
deploy:
  tag: $(APPVEYOR_REPO_TAG_NAME)
  release: kube-ldap-client-go-exec-plugin $(APPVEYOR_REPO_TAG_NAME)
  provider: GitHub
  description: kube-ldap-client-go-exec-plugin
  auth_token:
    secure: zjBwwHTWfbLmoju6SREJTkDxCPxJ501plBxrh9xD6mTGUAEBVAZQV2X3EfRpc6Tt
  artifact: build\kube-ldap-client-go-exec-plugin-windows.exe
  draft: false
  prerelease: false
  on:
    APPVEYOR_REPO_TAG: true
